.tile {
    display: inline-flex;
    /* background-color: #42b842; */
}
.grass {
    background-image: url('/tiles/plains80.png')
}

.rock {
    background-image: url('/tiles/mountain80-3.png')
}
.tree{
    background-image: url('/tiles/forest80.png')
}
.water {
     background-image: url('/tiles/marsh80.png')
}
.fog {
    background-color:   black;
}
.base {
    background-image: url('/tiles/ranger.png')
}
.food {
    background-image: url('/tiles/food.png')
}