.UI {
    display: flex;
    justify-content: center;
}
.right-UI {
    width: 350px;
    margin-left: 200px;
    margin-right: 100px;
}
.left-UI {
    text-align: center;
    width: 400px;
    margin-left: 260px;
}
.left-UI-inner {
    display: flex;
    justify-content: center;
    
}
.f-w-d {
    margin-left: 250px;
    border: 2px white;
}
.vits {
    margin-bottom: 1em
}