.UI {
    display: flex;
    justify-content: left;
}
.right-UI {
    width: 400px;
    margin-left: 300px;
    margin-right: 100px;
}
.left-UI {
    width: 400px;
    margin-left: 50px;
  
}
.vits {
    margin-bottom: 1em
}